<div *ngIf="summaryData; else emptyDashboard">
    <div class="flex flex-col flex-auto w-full p-8 xs:p-2">

        <div class="flex flex-wrap w-full">

            <div class="flex items-center justify-between w-full my-4 px-4 xs:pr-0">
                <div class="mr-6">
                    <h2 class="m-0">硬盘概览</h2>
                    <div class="text-secondary tracking-tight">快速查看所有硬盘的健康状态</div>
                </div>
                <!-- Action buttons -->
                <div class="flex items-center">
                    <button class="xs:hidden" mat-stroked-button
                            [color]="showArchived ? 'primary' : null"
                            (click)="showArchived=!showArchived">
                        <mat-icon class="icon-size-20"
                                  [color]="showArchived ? 'primary' : null"
                                  [svgIcon]="'archive'"></mat-icon>
                                <span class="ml-2">已归档</span>
                    </button>
                    <button matTooltip="暂未实现" class="ml-2 xs:hidden" mat-stroked-button>
                        <mat-icon class="icon-size-20"
                                  [svgIcon]="'save'"></mat-icon>
                        <span class="ml-2">导出</span>
                    </button>
                    <button class="ml-2 xs:hidden"
                            (click)="openDialog()"
                            mat-stroked-button>
                        <mat-icon class="icon-size-20 rotate-90 mirror"
                                  [svgIcon]="'tune'"></mat-icon>
                        <span class="ml-2">设置</span>
                    </button>

                    <!-- Actions menu (visible on xs) -->
                    <div class="hidden xs:flex">
                        <button [matMenuTriggerFor]="actionsMenu"
                                mat-icon-button>
                            <mat-icon [svgIcon]="'more_vert'"></mat-icon>
                        </button>
                        <mat-menu #actionsMenu="matMenu">
                            <button mat-menu-item (click)="showArchived=!showArchived">
                                <mat-icon class="icon-size-20"
                                          [color]="showArchived ? 'primary' : null"
                                          [svgIcon]="'archive'"></mat-icon>
                                <span class="ml-2">已归档</span>
                            </button>
                            <button mat-menu-item
                                    matTooltip="暂未实现">
                                <mat-icon class="icon-size-20"
                                          [svgIcon]="'save'"></mat-icon>
                                <span class="ml-2">导出</span>
                            </button>
                            <button mat-menu-item (click)="openDialog()">
                                <mat-icon class="icon-size-20 rotate-90 mirror"
                                          [svgIcon]="'tune'"></mat-icon>
                                <span class="ml-2">设置</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
            </div>


            <div class="flex flex-wrap w-full" *ngFor="let hostId of hostGroups | keyvalue">
                <h3 class="ml-4" *ngIf="hostId.key">{{ hostId.key }}</h3>
                <div class="flex flex-wrap w-full">
                    <ng-container *ngFor="let deviceSummary of (deviceSummariesForHostGroup(hostId.value) | deviceSort:config.dashboard_sort:config.dashboard_display )">
                        <app-dashboard-device *ngIf="showArchived || !deviceSummary.device.archived"
                                              (deviceArchived)="onDeviceArchived($event)"
                                              (deviceUnarchived)="onDeviceUnarchived($event)"
                                              (deviceDeleted)="onDeviceDeleted($event)"
                                              class="flex gt-sm:w-1/2 min-w-80 p-4"
                                              [deviceSummary]="deviceSummary"></app-dashboard-device>
                    </ng-container>
                </div>
            </div>


            <!-- Drive Temperatures -->
            <div class="flex flex-auto w-full min-w-80 h-90 p-4">
                <div class="flex flex-col flex-auto bg-card shadow-md rounded overflow-hidden">
                    <div class="flex flex-col p-6 pr-4 pb-4">
                        <div class="flex items-center justify-between">
                            <div class="flex flex-col">
                                <div class="font-bold text-md text-secondary uppercase tracking-wider mr-4">温度</div>
                                <div class="text-sm text-hint font-medium">各硬盘的历史温度</div>
                            </div>
                            <div>
                                <button class="h-8 min-h-8 px-2"
                                        mat-button
                                        [matMenuTriggerFor]="tempRangeMenu">
                                    <span class="font-medium text-sm text-hint">{{ tempDurationLabel }}</span>
                                </button>
                                <mat-menu #tempRangeMenu="matMenu">
                                    <button (click)="changeSummaryTempDuration('forever')" mat-menu-item>全部</button>
                                    <button (click)="changeSummaryTempDuration('year')" mat-menu-item>一年</button>
                                    <button (click)="changeSummaryTempDuration('month')" mat-menu-item>一个月</button>
                                    <button (click)="changeSummaryTempDuration('week')" mat-menu-item>一周</button>
                                    <button (click)="changeSummaryTempDuration('day')" mat-menu-item>一天</button>
                                </mat-menu>
                            </div>
                        </div>

                    </div>
                    <div class="flex flex-col flex-auto">
                        <apx-chart #tempChart *ngIf="temperatureOptions" class="flex-auto w-full h-full"
                                   [chart]="temperatureOptions.chart"
                                   [colors]="temperatureOptions.colors"
                                   [fill]="temperatureOptions.fill"
                                   [series]="temperatureOptions.series"
                                   [stroke]="temperatureOptions.stroke"
                                   [tooltip]="temperatureOptions.tooltip"
                                   [xaxis]="temperatureOptions.xaxis"></apx-chart>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<ng-template #emptyDashboard>
    <div class="dashboard-placeholder content-layout fullwidth-basic-content-scroll">
        <img class="image"
             src="assets/images/dashboard-placeholder.png">

        <h1>尚未检测到硬盘</h1>
        <p style="max-width:700px;">Scrutiny 包含一个需要在受监控系统上运行的采集器。采集器负责检测已连接的存储设备，并按照设定的计划收集 S.M.A.R.T 数据。</p>

        <p><br/>你可以运行以下命令手动触发采集，然后刷新此页面：</p>
        <code>scrutiny-collector-metrics run</code>

    </div>
</ng-template>
