<h2 mat-dialog-title>删除 {{data.title}}？</h2>
<mat-dialog-content>这会从 Scrutiny 中删除该硬盘及其全部历史记录。<strong>硬盘本身保存的数据不会受到影响。</strong></mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>取消</button>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button class="red-600" mat-button (click)="onDeleteClick()">
        <mat-icon class="icon-size-20 mr-3"
                  [svgIcon]="'delete_forever'"></mat-icon>
        删除
    </button>
</mat-dialog-actions>
